{% extends 'gyara/base.html' %}
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'gyara/css/forms.css' %}"/>
{% endblock %}

{% block extrascript %}
<script>
    $(document).ready(function () {
        $('select').dropdown()
    })
</script>
{% endblock %}

{% block title %}
    Gyara - Change Category
{% endblock %}




{% block content %}
    <h1>Change Category</h1>
    <form class="ui form" action="" method="post">{% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.name.errors }}
        <div class="fields">
            <div class="two wide field">
                <label for="{{ form.name.id_for_label }}">Name</label>
            </div>
            <div class="six wide field">
                {{ form.name }}
            </div>
        </div>


        {{ form.flow.errors }}
        <div class="fields">
            <div class="two wide field">
                <label for="{{ form.flow.id_for_label }}">Flow</label>
            </div>
            <div class="six wide field">
                {{ form.flow }}
            </div>
        </div>


        <input class="ui button" type="submit" value="Change"/>
    </form>

{% endblock %}