{% extends 'gyara/base.html' %}
{% load gyara_extras %}

{% block extrascript %}
    <script>
        $(document).ready(function () {
            {#            $('.ui.dropdown').dropdown();#}
            $('.ui.sticky').sticky({context: '#test'});
        })
    </script>
{% endblock %}

{% block title %}
    Gyara - Month Overview
{% endblock %}


{% block nav-out-view %}
    <a class="item {% if flow == "Out" %} active {% endif %}" href="{% url 'gyara:out-view' %}">View-Out</a>
{% endblock %}
{% block nav-in-view %}
    <a class="item {% if flow == "In" %} active {% endif %}" href="{% url 'gyara:in-view' %}">View-In</a>
{% endblock %}

{% block content %}
    <div class="ui basic segment" id="test">
        <div class="ui right  attached rail">
            <div class="ui segment basic sticky">
                <div class="ui selection vertical menu">
                    {#                    <div class="text">Go to</div>#}
                    {#                    <i class="dropdown icon"></i>#}
                    {#                    <div class="menu">#}
                    <div class="item active">
                        <h4 class="ui header">Month</h4>
                    </div>
                    {% for month in months %}
                        <a class="item" href="#{{ month }}">{{ month }}</a>
                    {% endfor %}
                    <a class="item" href="#top"><i class="arrow up icon"></i> Back to top</a>
                    {#                    </div>#}

                </div>
            </div>
        </div>


        <div class="ui grid">

            {% for month in months %}
                <div class="eight wide column">
                    <h2 id="{{ month }}">{{ month }}</h2>
                    <table class="ui table striped compact">
                        <thead>
                        <tr>
                            <th>Category</th>
                            <th>Actual</th>
                            <th>Budget</th>
                            <th>Diff</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if month_information|lookup:month %}
                            {% with month_cat=month_information|lookup:month %}
                                {% for cat,prices in month_cat.items %}
                                    <tr>
                                        <td>{{ cat }}</td>
                                        <td>€{{ prices.0 }}</td>
                                        <td>€{{ prices.1 }}</td>
                                        <td>€{{ prices.2 }}</td>
                                    </tr>
                                {% endfor %}
                            {% endwith %}
                            {% with total=month_total|lookup:month %}
                                <tr>
                                    <td>Total</td>
                                    <td>€{{ total.0 }}</td>
                                    <td>€{{ total.1 }}</td>
                                    <td>€{{ total.2 }}</td>
                                </tr>
                            {% endwith %}
                        {% else %}
                            <tr>
                                <td colspan="2">No categories</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}