{% extends 'gyara/base.html' %}
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'gyara/css/forms.css' %}"/>
{% endblock %}

{% block extrascript %}
    <script src="{% static "gyara/js/jquery-csv.js" %}"></script>
    <script src="{% static "gyara/js/import.js" %}">    </script>
{% endblock %}

{% block title %}
    Gyara - Import
{% endblock %}

{% block nav-bimport %}<a class="item active" href="{% url 'gyara:better-import' %}">Import</a>{% endblock %}

{% block content %}
    <h1>Import</h1>
    {# File input -> Javascript call for prediction -> Generate form fields -> Save data with normal POST #}

    <div class="ui form">
        <div class="field inline">
            <label for="txtFileUpload">File</label>
            <input type="file" name="File Upload" id="txtFileUpload" accept=".csv"/>
        </div>
    </div>


    <h1 style="margin-top: 50px;">Save</h1>
    <div class="ui row">
        <form>
            <table id="importTable" class="ui celled table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>I/O</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>


                </tbody>
            </table>
        </form>

    </div>


{% endblock %}