{% extends 'gyara/base.html' %}
{% load static %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'gyara/css/forms.css' %}"/>
{% endblock %}

{% block title %}
Gyara - Import
{% endblock %}

{% block nav-import %}<a class="active" href="{% url 'gyara:import-view' %}">Import</a>{% endblock %}

{% block content %}


<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <fieldset class="module aligned wide">
            <div class="form-row fieldWrapper">
                {{ form.file.errors }}
                <label for="{{ form.file.id_for_label }}">File:</label>
                {{ form.file }}
            </div>
    </fieldset>
    <input type="submit" value="Upload file" />
</form>

{% endblock %}